/***

=============================
Device Optimize Media Queries
=============================

***/

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}

@media (min-width: 1900px) {

	/*****************************************
		Template Global Styles
	******************************************/
	.auto-container {
		position: relative;
		max-width: 1550px;
	}

	.main-header .logo-box .logo img {
		height: 75px;
	}

	.main-header.fixed-header .logo-box .logo img {
		transition: height 300ms ease;
		height: 65px;
	}

	/*****************************************
		Footer Styles
	******************************************/

	.footer-left-container .address-box {
		width: 32%;
		margin-left: 12%;
	}

	.footer-left-container .footer-menu-links {
		width: 40%;
		margin-left: 8%;
	}

	.footer-anim {
		position: absolute;
		width: 550px;
		top: 10px;
		right: 80px;
		z-index: -3;
	}

	/*****************************************
		Common Styles
	******************************************/

	.scroll-to-top {
		position: fixed;
		width: 60px;
		height: 60px;
		font-size: 22px;
		line-height: 60px;
	}



	.owl-carousel .owl-nav button span {
		width: 40px;
		height: 40px;
	}

	.owl-carousel .owl-nav button span i {
		font-size: 20px;
		line-height: 40px;
	}


}

@media only screen and (max-width: 1139px) {
	.header-style-two .main-menu .navigation>li {
		margin-left: 25px;
	}
}

@media only screen and (min-width: 768px) {

	.main-menu .navigation>li>ul,
	.main-menu .navigation>li>.mega-menu,
	.main-menu .navigation>li>ul>li>ul {
		display: block !important;
		visibility: hidden;
		opacity: 0;
	}
}

@media only screen and (max-width: 1023px) {

	.main-header,
	.main-header.fixed-header,
	.main-header .main-box {
		position: relative !important;
		background-color: #1e1f36;
	}

	.main-header .main-box {
		padding: 10px 0;
		background-color: #1e1f36;
	}

	.header-style-two,
	.header-style-two .main-box {
		background-color: #ffffff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
	}

	.header-style-two .outer-box .theme-btn {
		background-color: #e1137b;
		color: #ffffff;
	}

	.header-style-two .nav-outer {
		float: right;
	}

	.main-menu .navigation>li {
		margin-left: 35px;
	}
}

@media only screen and (max-width: 767px) {
	.main-header .nav-outer .main-menu {
		display: none !important;
	}

	.main-header .header-lower .nav-outer {
		padding-right: 0;
	}

	.main-header .outer-box {
		position: absolute;
		left: 0;
		top: 0;
	}

	.nav-outer .mobile-nav-toggler {
		display: block;
		margin: 0;
	}
}

@media only screen and (max-width: 599px) {

	/*****************************************
		Main Header Styles
	******************************************/

	.main-header {
		position: fixed !important;
		background-color: transparent;
	}

	.main-header.fixed-header {
		position: fixed !important;
	}

	.main-header.fixed-header .nav-outer .mobile-nav-toggler {
		color: #2E2C2C;
	}

	.main-header .main-box .main-header-inner {
		padding: 0 20px;
	}

	.main-header .main-box {
		background-color: transparent;
	}

	.main-header .main-box .logo-box .logo img.logo-light {
		display: none;
	}

	.main-header .main-box .logo-box .logo img.logo-dark {
		display: block;
	}

	.main-header.has-top-banner .main-box .logo-box .logo img.logo-light {
		display: none;
	}

	.main-header.has-top-banner .main-box .logo-box .logo img.logo-dark {
		display: block;
	}

	/*****************************************
		Template Common Components Styles
	******************************************/

	.site-mouse-animation {
		display: none;
	}

	.scroll-to-top {
		display: none !important;
	}
	
	.hide-on-mobile{
		display: none !important;
	}
	
	.show-on-mobile {
		display: block !important;
	}

	/*========================================================================================
		Footter Styles
	========================================================================================*/
	.footer {
		margin-top: 50px;
	}

	.footer-left-container {
		flex-flow: column;
	}

	.footer-left-container .address-box {
		width: 100%;
		padding: 0px;
	}

	.footer-left-container .footer-menu-links {
		width: 100%;
		margin-left: 0;
	}

	.footer-right-container {
		padding: 0px;
	}

	.footer-right-container .subscription-form {
		margin-top: 0;
	}

	.footer-right-container .footer-social-links {
		text-align: center;
	}


	.footer-bottom {
		margin-top: 0;
		padding-top: 0;
	}

	.footer-bottom .download-selfcare-app-box {
		margin-top: 0px;
		margin-bottom: 20px;
	}
	
	.footer-bottom .download-selfcare-app-box .play-store-logo {}
	
	.footer-bottom .download-selfcare-app-box .play-store-logo img {
		width: 280px;
	}
	
	.footer-bottom .download-selfcare-app-box p {
		margin-left: 5px;
		margin-bottom: 0;
		margin-top: 15px;
		font-size: 22px;
		line-height: 23px;
		font-weight: 900;
		color: #2E2C2C;
	}


}

@media only screen and (max-width: 479px) {}

/* ===================================================================== */