/***

=============================
Device Optimize Media Queries
=============================

***/

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}

@media (min-width: 1900px) {

	/*****************************************
		Template Global Styles
	******************************************/
	.auto-container {
		position: relative;
		max-width: 1550px;
	}

	.main-header .logo-box .logo img {
		height: 75px;
	}

	.main-header.fixed-header .logo-box .logo img {
		transition: height 300ms ease;
		height: 65px;
	}

	/*****************************************
		Common Styles
	******************************************/

	.scroll-to-top {
		position: fixed;
		width: 60px;
		height: 60px;
		font-size: 22px;
		line-height: 60px;
	}

	.section-title-with-shaddow .title-shaddow-text h1 {
		font-size: 60px;
		line-height: 76px;
		bottom: -80px;
	}

	.section-title-with-shaddow .title-text h2 {
		font-size: 48px;
		line-height: 55px;
	}

	.section-title-with-shaddow p.description {
		font-size: 18px;
		margin-top: 35px;
	}

	.icon-text-box .icon {
		width: 18%;
		height: 100%;
		line-height: 80px;
	}

	.icon-text-box .text {
		width: 78%;
		margin-left: 2%;
	}

	.link3-service-section .icon-text-box .text h5 {
		font-size: 18px;
	}

	.page-top-banner {
		min-height: 700px;
	}

	.page-top-banner .text-box h2.title {
		font-size: 55px;
		font-weight: 900;
		color: #2f2f2f;
	}

	.page-top-banner .text-box p.description {
		font-size: 18px;
		line-height: 26px;
	}

	.page-breadcurmb {
		min-height: 400px;
	}

	.page-breadcurmb .title h2 {
		font-size: 55px;
		line-height: 55px;
	}

	.page-breadcurmb .title h3 {
		font-size: 45px;
		line-height: 45px;
	}

	.owl-carousel .owl-nav button span {
		width: 40px;
		height: 40px;
	}

	.owl-carousel .owl-nav button span i {
		font-size: 20px;
		line-height: 40px;
	}

	/*****************************************
		Bottom Box Styles
	******************************************/

	.fixed-bottom-box {
		left: 8%;
	}

	/*****************************************
		Home Page Styles
	******************************************/

	.home-slider .slide-item .slide-item-content {
		width: 86%;
		max-width: 100%;
	}

	.home-slider .slide-item .text-block {
		padding-right: 100px;
	}

	.home-slider .slide-item .text-block .description {
		margin-top: 25px;
	}

	.home-slider .slide-item .text-block .description p {
		font-size: 15px;
		line-height: 24px;
		color: #fff;
	}

	.home-slider .slide-item .image-block {
		width: 50%;
		text-align: right;
	}

	.home-slider .slide-item .image-block img {
		width: 100%;
		margin: 0 auto 0;
	}

	.home-slider .slide-item.slide-1 .image-block {
		top: 175px;
	}

	.home-slider .slide-item.slide-1 .image-block img {
		width: 100%;
	}

	.home-slider .slide-item .image-block .globe-animation svg {
		width: 70%;
	}

	.home-banner-section .shape {
		bottom: -150px;
	}

	.home-slider .swiper-slide {
		min-height: 980px;
	}

	.link3-packages-section .personal-package-container {
		margin: 50px 250px 0;
	}

	.package-pricing-card.type-1 .overlay {
		min-height: 410px;
	}

	.link3-packages-section .business-package-container {
		margin: 30px 120px 0;
	}

	.link3-packages-section .animated-element.anim-1 {
		top: 100px;
	}

	.link3-packages-section .animated-element.anim-2 img {
		width: 320px;
	}

	.contact-us-section {
		padding: 0 250px;
	}

	.contact-us-container {
		padding: 80px 120px;
	}

	.link3-service-section .service-image-box:before {
		position: absolute;
		height: 415px;
		width: 270px;
	}

	.why-us-section {
		padding: 30px 300px;
	}

	.why-us-section .icon-text-box.style-2 {
		min-height: 350px;
	}

	/*****************************************
		Footer Styles
	******************************************/

	.footer-left-container .address-box {
		width: 32%;
		margin-left: 12%;
	}

	.footer-left-container .footer-menu-links {
		width: 40%;
		margin-left: 8%;
	}

	.footer-anim {
		position: absolute;
		width: 550px;
		top: 10px;
		right: 80px;
		z-index: -3;
	}

	/*****************************************
		Personal Package Page Styles
	******************************************/

	.link3-all-packages-section .personal-package-container {
		margin: 50px 250px 0;
	}

	.link3-all-packages-section .personal-premium-package-container {
		position: relative;
		margin: 0px 250px 0;
	}

	.link3-all-packages-section .presonal-basic-packages {
		margin-top: 80px;
	}

	/*****************************************
		Enterprise Page Styles
	******************************************/

	.enterprise-slider .slide-item .slide-item-content {
		width: 90%;
		max-width: 100%;
	}

	.enterprise-slider .slide-item .text-block {
		padding-right: 100px;
	}

	.enterprise-slider .slide-item .text-block .title h2 {
		font-size: 55px;
		line-height: 66px;
	}

	.enterprise-slider .slide-item .text-block .description {
		margin-top: 25px;
	}

	.enterprise-slider .slide-item .text-block .description p {
		font-size: 15px;
		line-height: 24px;
		color: #fff;
	}

	.enterprise-slider .slide-item .image-block {
		width: 50%;
		text-align: right;
	}

	.enterprise-slider .slide-item .image-block img {
		width: 80%;
		margin: 0 auto 0;
	}

	.enterprise-slider .slide-item.slide-2 .image-block img {
		width: 60%;
	}

	.enterprise-slider .slide-item.slide-1 .image-block img {
		width: 100%;
	}

	.enterprise-slider .slide-item .image-block .globe-animation svg {
		width: 70%;
	}

	.home-banner-section .shape {
		bottom: -150px;
	}

	.enterprise-slider .swiper-slide {
		min-height: 980px;
	}

	/*****************************************
	Link3 enlisted Customer Section Styles
	******************************************/

	.link3-enlisted-customer-section {
		margin-top: -200px;
	}

	.link3-enlisted-customer-section .section-title {
		margin-bottom: 35px;
	}

	.link3-enlisted-customer-section .section-title h2 {
		font-size: 45px;
	}

	.customer-cuounter-card {
		padding: 25px 35px 35px;
	}

	.customer-cuounter-card h3.counter {
		margin: 0;
		font-size: 55px;
		line-height: 55px;
		font-weight: 900;
		margin-bottom: 15px;
		color: #000;
	}

	/*****************************************
		Enterprise Core Serveices Styles
	******************************************/

	.enterprise-core-services-section {
		padding: 80px 250px;
	}

	.entp-core-service-tab-text li {
		font-size: 16px;
		margin-bottom: 20px;
	}

	/*****************************************
		Enterprise About Us Section Styles
	******************************************/

	.enterprise-about-us-section .text-block {
		padding: 0 40px;
	}

	/*========================================================================================
		About Us Page Styles
	========================================================================================*/

	.about-us-page .why-us-section {
		position: relative;
		background-color: transparent;
		padding: 100px 300px;
	}

	.about-us-page .why-us-section .why-us-image-block::before {
		width: 490px;
		height: 490px;
	}

	.about-us-page .why-us-section .why-us-image-block img {
		width: 500px;
	}

	/*****************************************
		Link3 Client Section Styles
	******************************************/

	.link3-vision-mission-section {
		position: relative;
		padding: 20px 350px 80px;
	}

	.link3-vision-mission-section .image-text-card {
		margin: 10px;
	}

	.link3-vision-mission-section .image-text-card .text-block {
		padding: 50px;
		padding-bottom: 0;
		min-height: 250px;
	}

	.link3-vision-mission-section .image-text-card .text-block h3 {
		font-size: 45px;
		line-height: 45px;
	}

	.link3-vision-mission-section .image-text-card .text-block p {
		font-size: 18px;
		line-height: 26px;
	}


	/*========================================================================================
		Service Page Styles
	========================================================================================*/

	.service-post-container {
		position: relative;
		margin: 0 250px 60px;
	}

	.service-post-section .image-post-card {
		margin: 30px;
		margin-bottom: 50px;
	}

	.service-post-section .image-post-card .post-content {
		margin-top: 15px;
	}

	.service-post-section .image-post-card .post-content .title {
		font-size: 30px;
		line-height: 35px;
	}


	/*========================================================================================
		Support Page Styles
	========================================================================================*/
	.sales-center-section .anim-1 {
		top: -250px;
	}

	.sales-center-section .anim-1 img {
		width: 300px;
	}

	.support-info-section .text-box-with-image {
		min-height: 420px;
	}

	.sales-center-tab-container {
		margin: 0 150px;
	}

	.support-page .common-contact-us-section {
		padding: 80px 300px;
	}

	/*========================================================================================
		Privacy Policy Page Styles
	========================================================================================*/

	.privacy-policy-section{
		padding: 60px 300px;
	}


	/*========================================================================================
		Personal Package Page 2 Styles
	========================================================================================*/

	.package-pricing-card.card-type-3 {
		min-height: 510px;
	}

}

@media only screen and (max-width: 1139px) {
	.header-style-two .main-menu .navigation>li {
		margin-left: 25px;
	}
}

@media only screen and (min-width: 768px) {

	.main-menu .navigation>li>ul,
	.main-menu .navigation>li>.mega-menu,
	.main-menu .navigation>li>ul>li>ul {
		display: block !important;
		visibility: hidden;
		opacity: 0;
	}
}

@media only screen and (max-width: 1023px) {

	.main-header,
	.main-header.fixed-header,
	.main-header .main-box {
		position: relative !important;
		background-color: #1e1f36;
	}

	.main-header .main-box {
		padding: 10px 0;
		background-color: #1e1f36;
	}

	.header-style-two,
	.header-style-two .main-box {
		background-color: #ffffff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.04);
	}

	.header-style-two .outer-box .theme-btn {
		background-color: #e1137b;
		color: #ffffff;
	}

	.header-style-two .nav-outer {
		float: right;
	}

	.main-menu .navigation>li {
		margin-left: 35px;
	}
}

@media only screen and (max-width: 767px) {
	.main-header .nav-outer .main-menu {
		display: none !important;
	}

	.main-header .header-lower .nav-outer {
		padding-right: 0;
	}

	.main-header .outer-box {
		position: absolute;
		left: 0;
		top: 0;
	}

	.nav-outer .mobile-nav-toggler {
		display: block;
		margin: 0;
	}
}

@media only screen and (max-width: 599px) {
	/*****************************************
		Main Header Styles
	******************************************/

	.main-header {
		position: fixed !important;
		background-color: transparent;
	}

	.main-header.fixed-header {
		position: fixed !important;
	}

	.main-header.fixed-header .nav-outer .mobile-nav-toggler {
		color: #1261a0;
	}

	.main-header .main-box .main-header-inner {
		padding: 0 20px;
	}

	.main-header .main-box {
		background-color: transparent;
	}

	.main-header .main-box .logo-box .logo img.logo-light {
		display: none;
	}

	.main-header .main-box .logo-box .logo img.logo-dark {
		display: block;
	}

	.main-header.has-top-banner .main-box .logo-box .logo img.logo-light {
		display: none;
	}

	.main-header.has-top-banner .main-box .logo-box .logo img.logo-dark {
		display: block;
	}

	/*****************************************
		Template Common Components Styles
	******************************************/

	.site-mouse-animation {
		display: none;
	}

	.scroll-to-top {
		display: none !important;
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 30%;
	}

	.page-top-banner {
		min-height: 360px;
		padding-top: 60px;
	}

	.page-top-banner .banner-bg {
		background-size: 200%;
		background-position: right;
		/* background-color: #E1F1FA; */
	}

	.page-top-banner .banner-right-image {
		width: 100%;
		height: 80%;
	}

	.page-top-banner .text-box {
		width: 100%;
		padding-top: 0;
		text-align: right;
		padding-top: 20px;
		padding-right: 10px;
	}

	.page-top-banner .text-box h2.title {
		font-size: 30px;
		color: #fff;
	}

	.page-top-banner .text-box p.description {
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		width: 85%;
		margin-right: auto;
		float: right;
	}

	.page-breadcurmb {
		min-height: 200px;
	}

	.page-breadcurmb .breadcurmb-bg-image {
		background-size: cover;
	}

	.page-breadcurmb .breadcurmb-bg-image::before {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.page-breadcurmb .title {
		width: 100%;
		margin-top: 30px;
	}

	.page-breadcurmb .title h2 {
		font-size: 35px;
		line-height: 35px;
	}

	.page-breadcurmb .title h3 {
		font-size: 26px;
		line-height: 26px;
		margin-bottom: 8px;
	}

	.page-breadcurmb .title p {
		font-size: 20px;
		margin-top: 8px;
	}

	.section-title-with-shaddow .title-shaddow-text {
		bottom: 10px;
	}

	.section-title-with-shaddow .title-shaddow-text h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.section-title-with-shaddow .title-shaddow-text h1 {
		bottom: -95px;
		font-size: 30px;
		line-height: 40px;
	}

	.section-title-with-shaddow .title-text h2 {
		font-size: 28px;
		line-height: 33px;
	}

	.section-title .title h2 {
		font-size: 30px;
		line-height: 35px;
	}

	.section-title p.description {
		width: 80%;
		margin: 0 auto;
	}

	.package-pricing-card.card-type-1 {
		margin: 0;
		transform: scale(1);
		margin-bottom: 30px;
	}

	.package-pricing-card.card-type-1.active {
		transform: scale(1);
	}

	.package-pricing-card.card-type-2 {
		margin: 0;
		margin-bottom: 30px;
	}

	.package-pricing-card.card-type-2 .package-details {
		padding-right: 0;
	}

	/*****************************************
		Bottom Box Styles
	******************************************/

	.fixed-bottom-box {
		left: 0;
		;
		width: 100%;
		padding: 25px 0px 0 80px;
		text-align: center;
		/* opacity: 1 !important; */
	}

	.fixed-bottom-box h2 {
		font-size: 22px;
	}

	/*****************************************
	CTA Section Styles
	******************************************/
	.cta-section {
		position: relative;
		padding: 20px 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	.cta-content-container {
		min-height: 350px;
	}

	.cta-content-container .banner-image {

		background-position: center;
		background-size: cover;
	}

	.cta-content-container .cta-content {
		text-align: center;
		z-index: 2;
		color: #fff;
		padding: 25px;
	}


	.cta-content-container .cta-content .title {
		margin-bottom: 25px;
	}

	.cta-content-container .cta-content .title h1 {
		text-transform: capitalize;
		font-size: 30px;
		line-height: 35px;
		font-weight: 700;
	}

	.cta-content-container .cta-content .description {
		margin-bottom: 25px;
	}

	.cta-content-container .cta-content .description p {
		font-size: 16px;
		margin-bottom: 0;
	}

	.cta-content-container .cta-content .btn-box {
		margin-top: 30px;
	}

	.cta-content-container .cta-content .btn-box a {
		display: inline-block;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 50px;
		padding: 10px 35px;
	}

	/*****************************************
		Home Page Styles
	******************************************/
	.home-slider .swiper-pagination {
		bottom: 60px !important;
	}

	.home-slider .slide-item .slide-item-content {
		flex-flow: column-reverse;
		padding: 20px;
		text-align: center;
	}

	.home-slider .swiper-slide {
		height: auto;
		padding-top: 60px;
	}

	.home-slider .slide-item .text-block {
		width: 100%;
		text-align: center;
		margin-top: 0px;
	}

	.home-slider .slide-item .text-block .title {
		margin-left: -15px;
		margin-right: -15px;
	}

	.home-slider .slide-item .text-block .title h2 {
		font-size: 25px;
		line-height: 30px;
	}

	.home-slider .slide-item .text-block .description p {
		padding-right: 0;
	}

	.home-slider .slide-item .image-block {
		width: 100%;
		text-align: center;
	}

	.home-banner-section .shape {
		bottom: -20px;
	}

	.slide-bg-animation.desktop {
		display: none;
	}

	.slide-bg-animation.mobile {
		display: block;
	}

	.home-slider .slide-item.slide-1 .image-block {
		top: -45px;
	}

	.home-slider .slide-item.slide-1 .text-block {
		margin-top: -20px;
	}

	.home-slider .slide-item.slide-2 .image-block {
		top: -85px;
	}

	.home-slider .slide-item.slide-2 .text-block {
		margin-top: -60px;
	}

	.home-slider .slide-1 .btn-box,
	.home-slider .slide-2 .btn-box {
		margin-top: 15px;
	}

	.link3-packages-section .section-title-with-shaddow {
		padding: 20px 10px 0;
	}

	.link3-packages-section .more-pacakge-btn-box {
		margin-top: 10px;
	}

	.link3-packages-section .more-pacakge-btn-box .btn.link {
		font-size: 17px;
	}

	.link3-packages-section .animated-element.anim-1 {
		right: -50px;
		top: -50px;
	}

	.link3-packages-section .animated-element.anim-2 {
		bottom: 40px;
	}

	.link3-packages-section .animated-element.anim-2 img {
		width: 100px;
	}

	.link3-packages-section {
		padding-top: 0;
		padding: 15px;
	}

	.link3-packages-section .animated-element.anim-1 img {
		width: 100px;
	}

	.link3-packages-section .package-container {
		padding: 0;
		margin: 0;
	}

	.link3-packages-section .personal-package-container {
		padding: 0;
		margin: 0;
		flex-flow: column;
	}

	.link3-packages-section .business-package-container {
		margin-left: -15px;
		margin-right: -15px;
	}

	.link3-packages-section .package-container .pacakges-view-nav {
		margin-bottom: 30px;
	}

	.link3-packages-section .package-container .pacakges-view-nav .nav.nav-tabs .nav-link {
		width: 140px;
	}

	.link3-packages-section .package-container .pacakges-view-nav .nav.nav-tabs .nav-link {
		font-size: 14px;
	}

	.package-pricing-card.card-type-1 {
		width: 100%;
	}

	.contact-us-section {
		padding-top: 20px;
	}

	.contact-us-container {
		margin-top: 30px;
		padding: 40px 20px;
		padding-top: 20px;
		flex-flow: column-reverse;
	}

	.contact-us-container .text-block {
		width: 100%;
	}

	.contact-us-container .text-block h2 {
		display: none;
	}

	.contact-us-container .text-block ul.icon-text-list li .icon {
		width: 15%;
	}

	.contact-us-container .contact-us-form-box {
		width: 100%;
		margin-bottom: 30px;
	}

	.contact-us-container .contact-us-form-box .contact-us-form {
		padding: 30px 25px;
	}

	.contact-us-section .contact-us-form-box .section-title {
		display: block;
	}

	.contact-us-container .text-block .social-links {
		text-align: center;
	}

	.link3-service-section {
		padding-top: 0;
	}

	.service-section-title p {
		font-size: 20px;
	}

	.service-section-title h2 {
		font-size: 30px;
		line-height: 36px;
	}

	.service-list-left,
	.service-list-right {
		width: 100%;
	}

	.service-list-right .btn-box {
		text-align: center;
		margin-left: 0 !important;
	}

	.link3-service-section .service-image-box {
		margin-bottom: 55px;
		padding: 0 20px;
	}

	.link3-service-section .service-image-box:before {
		width: 200px;
		height: 250px;
		top: 55px;
		right: 0px;
		border-radius: 0 0 30px 0;
	}

	.why-us-section {
		padding: 0;
		padding-top: 60px;
		margin-top: 0px;
	}

	.homepage-featured-blog .blog-post-list {
		margin-left: 0;
		margin-top: 20px;
	}

	.post-item .post-content .title {
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
	}

	.why-us-section .icon-text-box.style-2.active {
		margin-top: 0;
	}

	.homepage-featured-blog {
		padding: 60px 0 40px;
		margin-bottom: 50px;
	}

	/*========================================================================================
		Footter Styles
	========================================================================================*/
	.footer {
		margin-top: 50px;
	}

	.footer-left-container {
		flex-flow: column;
	}

	.footer-left-container .address-box {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: -150px;
		margin-bottom: 20px;
		padding: 20px 30px;
	}

	.footer-left-container .footer-menu-links {
		width: 100%;
	}

	.footer-right-container {
		padding: 20px;
	}

	.footer-right-container .subscription-form {
		margin-top: 0;
	}

	.footer-right-container .footer-social-links {
		text-align: center;
	}

	.footer-bottom {
		margin-top: 0;
	}

	/*========================================================================================
		Package Page Styles
	========================================================================================*/

	.link3-packages-section .section-title-with-shaddow {
		margin-bottom: 0px;
	}

	.link3-all-packages-section .personal-premium-package-container {
		margin: 0;
	}

	.link3-all-packages-section .personal-package-container {
		margin: 0;
		flex-flow: column;
		margin-top: 60px;
	}

	.link3-all-packages-section .presonal-basic-packages {
		margin-top: 20px;
	}

	.link3-all-packages-section .presonal-premium-packages .section-title-with-shaddow .title-shaddow-text h1 {
		bottom: -56px;
		font-size: 35px;
		line-height: 40px;
	}

	.link3-all-packages-section .animated-element.anim-1 {
		right: auto;
		left: -50px;
		top: -130px;
	}

	.link3-all-packages-section .animated-element.anim-1 img {
		width: 120px;
	}

	.link3-all-packages-section .presonal-basic-packages .animated-element.anim-1 {
		left: -100px;
		top: 10px;
	}

	.link3-all-packages-section .presonal-basic-packages .animated-element.anim-1 img {
		width: 150px;
	}

	/*========================================================================================
		Enterprise Page Styles
	========================================================================================*/

	.enterprise-slider .slide-item .slide-item-content {
		flex-flow: column-reverse;
		padding: 20px;
		/* padding-top: 75px; */
		text-align: center;
	}

	.enterprise-slider .swiper-slide {
		height: auto;
		min-height: 600px;
		padding-top: 60px;
	}

	.enterprise-slider .slide-item .text-block {
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	.enterprise-slider .slide-item.slide-1 .text-block {
		margin-top: -20px;
	}

	.enterprise-slider .slide-item .text-block .title {
		margin-left: -15px;
		margin-right: -15px;
	}

	.enterprise-slider .slide-item .text-block .title h2 {
		font-size: 25px;
		line-height: 30px;
	}

	.enterprise-slider .slide-item .image-block {
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}

	.enterprise-slider .slide-1 .custom-image-block {
		bottom: auto;
		top: 150px;
		width: 100%;
		background-position: top;
	}

	/*****************************************
		Link3 enlisted Customer Section Styles
	******************************************/

	.link3-enlisted-customer-section {
		margin-top: -90px;
		margin-bottom: 10px;
	}

	.customer-cuounter-card {
		margin-bottom: 20px;
	}

	/*****************************************
		Enterprise Core Serveices Styles
	******************************************/

	.enterprise-core-services-section {
		padding: 40px 15px;
	}

	.enterprise-core-services-section .section-title {
		margin-bottom: 20px;
	}

	.enterprise-core-services-section .section-title p.description {
		width: 100%;
		margin: 0 auto;
	}

	.enterprise-core-services-section .col-sm-4,
	.enterprise-core-services-section .col-sm-8 {
		padding: 0 !important;
	}

	.enterprise-core-services-section .anim-1,
	.enterprise-core-services-section .anim-2 {
		display: none;
	}

	.entp-core-service-tab-btn {
		padding: 0;
		background-color: #fff;
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;
		overflow-y: scroll;
		width: auto;
		margin-left: 0px;
		margin-right: -15px;
		margin-bottom: 10px;
		box-shadow: none;
		padding: 10px 5px 15px;
	}

	.entp-core-service-tab-btn .nav {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
	}

	.entp-core-service-tab-btn .nav-tabs .nav-item {
		width: 100%;
		padding-bottom: 0;
		text-align: center;
		padding: 0 !important;
	}

	.entp-core-service-tab-btn .nav-tabs .nav-link {
		min-width: 245px;
		display: block;
		font-size: 15px;
		padding: 10px 0 !important;
	}

	.entp-core-service-tab-btn .nav-tabs .nav-link:last-child {
		margin-right: 15px;
	}

	.entp-core-service-tab-btn .nav-tabs .nav-link:before {
		display: none;
	}

	.entp-core-service-tab-btn .nav-tabs .nav-link.active {
		border: none;
		background: linear-gradient(263.87deg, #ff8303 -18.9%, #fd5602 85.77%);
		color: #fff;
		border-radius: 7px;
		box-shadow: 0 16px 5px -10px rgb(255 131 3 / 56%),
			0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(253 86 2 / 20%);
	}

	.entp-core-service-tab-wrap {
		padding: 15px;
	}

	.entp-core-service-tab-text h3 {
		font-size: 26px;
		line-height: 32px;
	}

	/**************************************************
	Enterprise Value Added Service Section Styles
	***************************************************/

	.enterprise-value-added-service-section {
		padding: 0 10px 40px;
	}

	.enterprise-value-added-service-section .section-title h2 {
		font-size: 30px;
		line-height: 35px;
		margin: 10px 0;
	}

	.entp-value-added-service-lower-wrapper {
		margin-top: 0;
	}

	.service-icon-textbox {
		margin-bottom: 60px;
		min-height: auto;
	}

	.service-icon-textbox .text-content h3 {
		min-height: 100%;
	}

	/*****************************************
		Enterprise About Us Section Styles
	******************************************/

	.enterprise-about-us-section {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.enterprise-about-us-section .section-title {
		margin-bottom: 0;
	}

	.enterprise-about-us-section .section-title h2 {
		font-size: 28px;
	}

	.enterprise-about-us-section .link3-office-building {
		margin-left: 20px;
	}

	.enterprise-about-us-section .link3-office-building:before {
		width: 250px;
		height: 250px;
		left: -20px;
		top: -20px;
	}

	.enterprise-about-us-section .text-block {
		margin-top: 20px;
	}

	/************************************************
		Enterprise page Client Section Styles
	*************************************************/

	.link3-client-section {
		padding: 20px 0 40px;
	}

	.link3-client-section-inner {
		flex-flow: column;
	}

	.link3-client-section-inner .title-block {
		width: 100%;
		margin-left: 0;
		padding-right: 0;
		padding: 20px;
	}

	.section-title.type-2 {
		text-align: center;
		margin-bottom: 20px;
	}

	.link3-client-section-inner .clients-container-block {
		width: 100%;
	}

	.clients-container .nav.nav-tabs {
		overflow-y: scroll;
		padding: 20px;
		width: 100%;
		justify-content: flex-start;
	}

	.clients-container .nav.nav-tabs .nav-item {}

	.clients-container .nav.nav-tabs .nav-link {
		display: block;
		min-width: 120px;
	}

	.clients-container .nav.nav-tabs .nav-link:hover,
	.clients-container .nav.nav-tabs .nav-link.active {}

	.client-carousel-container {
		margin-top: 20px;
		margin-left: 15px;
	}

	.clients-container .client-carousel .owl-nav {
		/* text-align: center; */
		margin-top: 0px;
	}

	/*========================================================================================
		About Us Page Styles
	========================================================================================*/

	.about-us-page .why-us-section {
		padding: 40px 20px;
		text-align: center;
	}

	.about-us-page .why-us-section .why-us-text-content .text-block {
		margin-top: 30px;
	}

	.about-us-page .why-us-section .why-us-text-content .text-block h2 {
		font-size: 35px;
	}

	.about-us-page .why-us-section .why-us-image-block::before {
		width: 300px;
		height: 100%;
	}

	.link3-vision-mission-section {
		padding: 0;
	}

	.link3-vision-mission-section .image-text-card {
		margin-bottom: 25px;
	}

	.link3-vision-mission-section .image-text-card .bottom-image-block {
		height: 200px;
	}

	.link3-all-packages-section {
		padding-bottom: 10px;
	}


	/*========================================================================================
		Service Page Styles
	========================================================================================*/
	.link3-services-page .section-title {
		margin: -30px 30px 20px;
	}

	.link3-services-page .section-title .title h2 {
		font-size: 25px;
		line-height: 30px;
	}

	.service-post-container {
		position: relative;
		margin: 0 20px 40px;
	}

	.service-post-container .service-post-section {
		margin-left: -15px;
		margin-right: -15px;
	}

	.service-post-section .image-post-card {
		margin-bottom: 10px;
	}

	.service-post-section .image-post-card .post-content {
		margin-top: 0;
	}

	.service-post-section .image-post-card .post-content .title {
		font-size: 21px;
		font-weight: 700;
	}

	.link3-services-page .cta-section {
		padding-bottom: 40px;
	}

	/*========================================================================================
		Support Page Styles
	========================================================================================*/
	.support-info-section{
		padding: 20px 0;
	}

	.support-info-section .text-box-with-image{
		min-height: 200px;
		margin-bottom: 30px;

	}

	.support-info-section .text-box-with-image .title h3{
		font-size: 27px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	
	.support-info-section .text-box-with-image .title h2{
		font-size: 35px;
		line-height: 35px;
	}

	.support-video-section{
		padding: 30px 0;
	}

	.sales-center-section .anim-1,
	.sales-center-section .anim-map{
		display: none;
	}

	.sales-center-tab-container{
		padding: 0;
		margin: 0;
	}

	.sales-center-tab-container .nav.nav-tabs {
		overflow-y: scroll;
		width: 100%;
		justify-content: flex-start;
		padding-bottom: 20px;	
	}
	
	.sales-center-tab-container .nav.nav-tabs .nav-item {}
	
	.sales-center-tab-container .nav.nav-tabs .nav-link {
		display: block;
		min-width: 120px;
	}
	
	.sales-center-tab-container .nav.nav-tabs .nav-link:hover,
	.sales-center-tab-container .nav.nav-tabs .nav-link.active {}
	
	.client-carousel-container {
		margin-top: 20px;
		margin-left: 15px;
	}
	

	.sales-center-tab-container .office-address-container .office-address{
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}

	.common-contact-us-form .form-title{
		margin-bottom: 20px;
	}

	.common-contact-us-form .form-title h2{
		font-size: 30px;
		line-height: 35px;
	}

	.support-page .common-contact-us-section{
		padding: 0;
	}

	.common-contact-us-form{
		border-radius: 10px;
	}

	.common-contact-us-form .form-content{
		margin: 10px;
		padding: 20px;
		border-radius: 10px;
	}

	.common-contact-us-form .btn-box{
		margin-top: 20px;
	}

	/*========================================================================================
		Privacy Policy Page Styles
	========================================================================================*/
	.privacy-policy-section{
		padding: 10px;
		margin-top: -30px;
	}

	.privacy-policy-section .privacy-policy-intro-text p{
		text-align: center
	}

	.custom-accordion .card-body .text-box .title{
		margin-top: 30px;
		margin-bottom: 12px;
	}

	#coverageModal .modal-body{
		padding: 30px 10px;
	}

	#coverageModal .modal-body .title{
		margin-top: 30px;
	}

	#coverageModal .modal-body .title h2{
		font-size: 35px;
		line-height: 35px;
		margin-bottom: 10px;
	}

	#coverageModal .coverage-found .office-address-container .office-address{
		width: 100%;
		margin-bottom: 25px;
	}

	.privacy-policy-section .anim-2{
		bottom: -80px;
	}

	.package-slider-section{
		padding-top: 80px;
	}

	.package-slider-section .package-slider .slick-dots{
		bottom: 10px;
	}

	.package-slider-section .package-slider .slide-item{
		padding: 0;
		border-radius: 5px;
	}
	
	.package-slider-section .package-slider .slide-item .banner-image img{
		border-radius: 5px;
	}

	.package-slider-section .package-slider .slide-item .banner-image img.desktop-banner {
		display: none;
	}
	
	.package-slider-section .package-slider .slide-item .banner-image img.mobile-banner {
		display: block;
	}

	.all-personal-package-section{
		padding: 0px;
	}

	.package-pricing-card.card-type-3{
		min-height: 480px;
	}

	.package-pricing-card.card-type-3 .bg-image::before {
		background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.0125) 150%);
		height: 200%;
		opacity: .85;
	}

	.package-pricing-card.card-type-3 .package-short-details {
		transform: translateY(0%);
	}

	.package-pricing-card.card-type-3 .more-btn {
		opacity: 1;
	}

}

@media only screen and (max-width: 479px) {}

/* ===================================================================== */

@keyframes anim_ghurni {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes anim_ghurni {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes anim_ulta_palta_moving_2 {
	0% {
		-webkit-transform: translate(0, 0) rotate(0);
		transform: translate(0, 0) rotate(0);
	}

	20% {
		-webkit-transform: translate(73px, -1px) rotate(36deg);
		transform: translate(73px, -1px) rotate(36deg);
	}

	40% {
		-webkit-transform: translate(111px, 72px) rotate(72deg);
		transform: translate(111px, 72px) rotate(72deg);
	}

	60% {
		-webkit-transform: translate(93px, 122px) rotate(108deg);
		transform: translate(93px, 122px) rotate(108deg);
	}

	80% {
		-webkit-transform: translate(-70px, 72px) rotate(124deg);
		transform: translate(-70px, 72px) rotate(124deg);
	}

	100% {
		-webkit-transform: translate(0, 0) rotate(0);
		transform: translate(0, 0) rotate(0);
	}
}

@-webkit-keyframes anim_ulta_palta_moving_2 {
	0% {
		-webkit-transform: translate(0, 0) rotate(0);
	}

	20% {
		-webkit-transform: translate(73px, -1px) rotate(36deg);
	}

	40% {
		-webkit-transform: translate(111px, 72px) rotate(72deg);
	}

	60% {
		-webkit-transform: translate(83px, 122px) rotate(108deg);
	}

	80% {
		-webkit-transform: translate(-40px, 72px) rotate(124deg);
	}

	100% {
		-webkit-transform: translate(0, 0) rotate(0);
	}
}


@keyframes anim_ulta_palta_moving {
	0% {
		-webkit-transform: translate(0) rotate(0deg);
		transform: translate(0) rotate(0deg);
	}

	25% {
		-webkit-transform: translate(200px, 100px) rotate(90deg);
		transform: translate(200px, 100px) rotate(90deg);
	}

	50% {
		-webkit-transform: transalate(600px, 200px) rotate(180deg);
		transform: transalate(600px, 200px) rotate(180deg);
	}

	75% {
		-webkit-transform: translate(-50px) rotate(270deg);
		transform: translate(-50px) rotate(270deg);
	}

	100% {
		-webkit-transform: translate(0) rotate(360deg);
		transform: translate(0) rotate(360deg);
	}
}

@-webkit-keyframes anim_ulta_palta_moving {
	0% {
		-webkit-transform: translate(0) rotate(0deg);
		transform: translate(0) rotate(0deg);
	}

	25% {
		-webkit-transform: translate(200px, 100px) rotate(90deg);
		transform: translate(200px, 100px) rotate(90deg);
	}

	50% {
		-webkit-transform: transalate(600px, 200px) rotate(180deg);
		transform: transalate(600px, 200px) rotate(180deg);
	}

	75% {
		-webkit-transform: translate(-50px) rotate(270deg);
		transform: translate(-50px) rotate(270deg);
	}

	100% {
		-webkit-transform: translate(0) rotate(360deg);
		transform: translate(0) rotate(360deg);
	}
}
